h1 {
  
  color: rgb(9, 116, 9);
}

h2 {
 
}

p{ 
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

li {
  
  color: red; 
}

body {
  background-color: gold;
  text-align: center;
}



